config DRM_VC5
	tristate "Broadcom VC5 Graphics"
	depends on ARCH_BCM || ARCH_BCMSTB || COMPILE_TEST
	depends on DRM
	depends on COMMON_CLK
	help
	  Choose this option if you have a system that has a Broadcom
	  V3D 3.3 (VC5) GPU, such as BCM7268.
